:root {
	--text-color-a: rgb(255, 255, 255);
	--text-color-b: rgb(175, 175, 175);
	--text-color-c: rgb(130, 130, 130);

	--background-color-a: rgb(0, 0, 0);
	--background-color-b: rgb(10, 10, 10);
	--background-color-c: rgb(25, 25, 25);

	--purple-a: #dd00ff;
	--purple-b: #b500d1;

	--red: #ff008b;
	--yellow: #ffe800;
	--green: #00ff6c;

	--font-family: "noto sans", Sans-serif;
	--page-width: 640px;

	--box-shadow: 0 0 20px 5px var(--background-color-a);
	--drop-shadow: 0 0 20px var(--background-color-a);

	--border-radius-a: 16px;
	--border-radius-b: 9999px;

	--text-padding: 5px 15px;
	--background-padding: 16px;
}

html {
	color: var(--text-color-a);
	background-color: var(--background-color-a);
	font-family: var(--font-family);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	overflow: overlay;
	margin: 0;
}

#page-content {
	margin-top: 50px;
	padding: var(--background-padding);
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
	width: 100%;
    box-sizing: border-box;
}

* {
	font-family: var(--font-family);
}

p, li, h2, button, input, a {
	font-size: 1rem;
	font-weight: normal;
}

h1, #post-viewer .post-title {
	font-size: 1.25rem;
	font-weight: bold;
}

hr {
    width: 100%;
    height: 3px;
	border: none;
	border-radius: var(--border-radius-a);
	background-color: var(--text-color-a);
}

span {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.box {
	background-color: var(--background-color-c);
	padding: var(--background-padding);
	border-radius: var(--border-radius-a);
	overflow: hidden;
}

.box p, .box h2:first-child, a.button {
	margin: 0;
}

.box h2 {
	margin-bottom: 0;
}

.box > ul, .box > span {
	margin-top: 1rem;
}

.button {
	display: block;
	border: none;
	border-radius: var(--border-radius-a);
	outline: none;
	padding: var(--text-padding);
	color: var(--text-color-a);
	background-color: var(--background-color-a);
	text-align: center;
	transition: 200ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	color: var(--text-color-a);
	background-color: var(--purple-a);
}

.button-group {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem 30px;
	justify-content: center;
}

.button.icon {
	background: none;
	padding: 0;
	width: 1rem;
}

.button.icon:hover {
	background: none;
	color: var(--purple-a);
}

input, button, a, .slider, .filter {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	-webkit-tap-highlight-color: transparent;
}

.button-group .button {
	flex-grow: 1;
}

a {
	color: var(--purple-a);
	transition: color 200ms ease-in-out;
}

a:hover {
	color: var(--purple-b);
}

.hidden {
	display: none;
}

/* #region INPUT */

.input {
	border: none;
	border-radius: var(--border-radius-a);
	outline: none;
	padding: var(--text-padding);
	color: var(--text-color-a);
	background: var(--background-color-a);
	cursor: text;
}

.input::placeholder {
	color: var(--text-color-c);
}

.slider {
	-webkit-appearance: none;
	background: none;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-radius-a);
	background-color: var(--background-color-a);
	transition: 200ms ease-in-out;
}

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.75rem;
	background: var(--background-color-a);
	border-radius: var(--border-radius-a);
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: var(--border-radius-b);
	width: 1rem;
	height: 1rem;
	background-color: var(--text-color-a);
	margin-top: -0.125rem;
}

.slider::-moz-range-track {
	width: 100%;
	height: 0.75rem;
	background: var(--background-color-a);
	border-radius: var(--border-radius-a);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	border-radius: var(--border-radius-b);
	width: 1rem;
	height: 1rem;
	background: var(--text-color-a);
	cursor: pointer;
}

.slider::-moz-range-progress {
	background-color: var(--text-color-a);
}

.slider::-ms-fill-lower {
	background: var(--text-color-a);
}

.dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	border-radius: var(--border-radius-a);
	background-color: var(--background-color-a);
	color: var(--text-color-a);
	padding: var(--text-padding);
	font-size: 1rem;
}

.dropdown::-ms-expand {
    display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch .slider:before {
	position: absolute;
	content: "";
	height: 1rem;
	width: 1rem;
	left: 6px;
	border-radius: var(--border-radius-b);
	background-color: white;
	transition: 200ms ease-in-out;
}

input:hover + .slider {
	background-color: var(--background-color-b);
}

input:checked + .slider {
	background-color: var(--purple-a);
}

input:checked:hover + .slider {
	background-color: var(--purple-b);
}

input:checked + .slider:before {
	transform: translateX(1rem);
}

/* #endregion */

/* #region HEADER */

header {
	position: fixed;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 0 10px;
	width: 100%;
	height: 50px;
	top: 0;
	box-sizing: border-box;
	background-color: var(--background-color-c);
	box-shadow: var(--box-shadow);
	z-index: 9;
}

header #logo {
	position: fixed;
	color: var(--purple-a);
	left: 1.25rem;
	height: 2rem;
	width: 2rem;
	transition: color 200ms ease-in-out;
}

header #logo:hover {
	color: var(--purple-b);
}

header #page-title {
	position: fixed;
	left: 4rem;
	margin: 0;
}

header #side-menu-toggle {
	display: none;
	cursor: pointer;
	color: var(--text-color-a);
	font-size: 1.25rem;
}

/* #endregion */

/* #region SEARCH */

header #search-bar {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: auto;
	padding: var(--text-padding);
	width: var(--page-width);
	background-color: var(--background-color-a);
	border-radius: var(--border-radius-b);
}

#search-bar input {
	width: 100%;
	background: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

#search-results {
	position: fixed;
	top: 50px;
	width: calc(var(--page-width) - 40px);
	padding: var(--background-padding);
	background-color: var(--background-color-a);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#search-results:empty {
	padding: 0;
}

.search-result {
	width: 100%;
}

.subreddit-toggle-button, .feed-load-button {
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	font-size: 0.75rem;
	border-radius: var(--border-radius-b);
	background-color: var(--background-color-a);
}

.subreddit-toggle-button:hover, .feed-load-button:hover {
	background-color: var(--green);
}

.subreddit-toggle-button:before, .feed-load-button:before {
	content: "\f067";
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
}

.subreddit-toggle-button.active:hover {
	background-color: var(--red);
}

.subreddit-toggle-button.active:before {
	content: "\f068";
}

/* #endregion */

/* #region FILTERS */

#filter-list {
	padding: var(--background-padding);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.filter {
	display: flex;
	column-gap: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border-radius: var(--border-radius-a);
	text-align: center;
	font-size: 0.75rem;
	transition: background-color 200ms ease-in-out;
	cursor: pointer;
}

.filter:hover {
	background-color: var(--background-color-b);
}
.filter.active {
	background-color: var(--background-color-a);
}

/* #endregion */

/* #region SIDE MENU */

#posts-list, #side-menu > div {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#side-menu {
	flex: 0 0 calc(var(--page-width) / 2);
}

#side-menu > div {
	position: sticky;
	top: calc(50px + var(--background-padding));
}

#subreddits-list {
	display: block;
}

#subreddits-list ul, #feeds-list ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

#subreddits-list ul:empty {
	display: none;
}

.subreddit-icon {
	height: 2rem !important;
}

#subreddit-options {
	margin-top: 1rem;
}

#subreddit-options button {
	flex-grow: 1;
}

#feed-name {
	display: none;
	flex-basis: 100%;
}

#feed-name.active {
	display: block;
}

#options-list span {
	margin-left: 5px;
	gap: 0.5rem;
	vertical-align: baseline;
}

#options-list span p {
	text-transform: lowercase;
}

#options-list span .input {
	flex-grow: 1;
}

#options-list span .dropdown {
	margin-left: auto;
	width: 25%;
}

#options-list span .switch {
	margin-left: auto;
}

#options-list span .button-group {
	margin-left: auto;
	margin-top: 0;
	gap: 10px;
	justify-content: flex-end;
}

/* #endregion */

/* #region FEEDS */

#feeds-list {
	display: none;
}

#feeds-list.active {
	display: block;
}

#feeds-list ul {
	margin: 0;
}

/* #endregion */

/* #region POSTS */

#posts-list {
	max-width: var(--page-width);
	flex: 0 0 var(--page-width);
}

.post {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post-header, .post-footer {
	color: var(--text-color-c);
	font-size: 0.85rem;
}

.post-subreddit-icon, .subreddit-icon {
	border-radius: var(--border-radius-b);
	height: 1.25rem;
	margin-right: 7.5px;
	vertical-align: middle;
}

#posts-list .post {
	cursor: pointer;
}

#posts-list .post .post-description {
	max-height: 135px;
	overflow: hidden;
	mask-image: linear-gradient(180deg, var(--background-color-a) 60%, transparent);
	-webkit-mask-image: linear-gradient(180deg, var(--background-color-a) 60%, transparent);
}

#posts-list .post .post-media-container .post-media.blur {
	filter: blur(75px);
	transition: 200ms ease-in-out;
}

#posts-list .post .post-media-container .post-media.blur.active {
	filter: blur(0px);
}

.post-description, .description, .comment-header, #options-list span p {
	color: var(--text-color-b);
	font-size: 0.85rem;
	word-break: break-word;
}

.post-media-container {
	display: flex;
    justify-content: center;
	border-radius: var(--border-radius-a);
	width: 100%;
	height: auto;
	max-height: 75vh;
}

.post-media-inner-container {
	position: relative;
	border-radius: inherit;
}

.post-media {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: inherit;
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.post-footer {
	margin: 0 !important;
}

.post-footer p i {
	font-size: 1rem;
	margin: 0 5px;
}

.post-flair {
	padding: var(--text-padding);
    border-radius: var(--border-radius-a);
	font-size: 0.75rem;
	color: var(--background-color-a);
    background-color: var(--purple-a);
    margin-left: auto !important;
}

.empty-feed-warning {
	text-align: center;
}

.tags {
	float: right;
}

.tags i {
	font-size: 1.25rem;
	color: var(--text-color-c);
}

.tags i.red {
	color: var(--red);
}

.tags i.green {
	color: var(--green);
}

.tags i.yellow {
	color: var(--yellow);
}

/* #endregion */

/* #region VIDEO CONTROLS */

.video-controls {
	position: absolute;
	top: 0;
	left: -1px;
	height: 100%;
	width: calc(100% + 2px);
	border-radius: inherit;
	overflow: hidden;
	cursor: auto;
}

.video-controls::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(transparent calc(100% - (var(--background-padding) * 3)), var(--background-color-a));
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	pointer-events: none;
}

.video-controls.active:hover:after {
	opacity: 1;
}

.video-controls > div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
}

.primary-video-controls {
	display: flex;
	justify-content: center;
    align-items: center;
}

.primary-video-controls .button.icon {
    font-size: 3.5rem;
	filter: drop-shadow(var(--drop-shadow));
}

.secondary-video-controls {
	display: none;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.secondary-video-controls:hover {
	opacity: 1;
}

.secondary-video-controls * {
	font-size: 1.25rem;
	/*filter: drop-shadow(var(--drop-shadow));*/
}

.post-media-inner-container.paused .video-controls .secondary-video-controls #pause::before {
	content: "\f04b";
}

.secondary-video-controls #progress {
	position: relative;
	height: 1rem;
	flex-grow: 1;
	background-color: var(--background-color-a);
	border-radius: var(--border-radius-b);
	overflow: hidden;
	cursor: pointer;
}

.secondary-video-controls #progress::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(var(--progress) * 1%);
	background-color: var(--text-color-a);
	border-radius: inherit;
}

.secondary-video-controls #volume {
	position: relative;
}

.secondary-video-controls #volume .slider {
    position: absolute;
	display: flex;
	align-items: flex-end;
	top: -4.25rem;
    left: -1rem;
    width: 4.5rem;
    height: 1rem;
	transform-origin: bottom;
	transform: rotate(-90deg);
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	overflow: hidden;
}

.secondary-video-controls #volume .slider.active {
	opacity: 1;
}

.secondary-video-controls #volume .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--volume) * 1%);
    background-color: var(--text-color-a);
    border-radius: inherit;
}

.post-media-inner-container.muted .video-controls .secondary-video-controls #volume::before {
	content: "\f6a9";
	--volume: 0%;
}

.video-controls.active .secondary-video-controls {
	display: flex;
	gap: 1rem;
    justify-content: space-between;
	align-items: flex-end;
    padding: 20px;
	box-sizing: border-box;
}

.video-controls.active .primary-video-controls {
	display: none;
}

/* #endregion */

/* #region POST VIEWER */

#post-viewer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#post-viewer.active {
	display: block;
}

#post-viewer .post .post-header .tags .post-viewer-close {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.75rem;
	padding: 0;
	border-radius: var(--border-radius-b);
}

#post-viewer .post .post-header .tags .post-viewer-close:hover {
	background-color: var(--red);
}

#post-viewer .post .post-header .tags .post-viewer-close:before {
	content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
}

#post-viewer .post {
	width: var(--page-width);
	margin: 65px auto 20px auto;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
}

#post-viewer .post > div:not(.post-media-container) {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#post-viewer .post .post-description {
	color: var(--text-color-a);
}

.comment {
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-start;
}

.comment-header img {
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: bottom;
	border-radius: var(--border-radius-b);
	margin-right: 0.25rem;
}

.comment-body {
	padding-left: 1.5rem;
}

.comment-line {
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 2px var(--background-color-a);
}

/* #endregion */

/* #region SCROLL UP */

#scroll-up {
	position: fixed;
	display: flex;
	gap: 10px;
    justify-content: center;
    align-items: center;
	bottom: 20px;
	left: calc(50% + var(--page-width) / 2);
	margin-left: -55px !important;
	font-size: 1.25rem;
	background-color: var(--background-color-c);
	border-radius: var(--border-radius-b);
	box-shadow: var(--box-shadow);
    transform: translateY(75px);
}

#scroll-up.active {
	transform: none;
}

#scroll-up:hover {
	background-color: var(--purple-a);
}

#scroll-up i {
	transform: translateY(3px) rotate(-45deg);
}

#scroll-up p {
	margin: 0.5rem 0;
}

/* #endregion */

/* #region RESPONSIVE */

@media screen and (max-width: 990px) {
	header #logo {
		position: relative;
		left: 0;
	}

	header #page-title {
		display: none;
	}

	header #search-bar {
		width: auto;
    	flex-grow: 1;
	}

	header #side-menu-toggle {
		display: block;
	}

	#search-results {
		width: 100%;
		left: 0;
		box-sizing: border-box;
	}

	.filter i {
		margin-right: 0;
	}

	#side-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 var(--background-padding);
    	box-sizing: border-box;
		overflow: overlay;
		transform: translateX(110%);
		transition: transform 200ms ease-in-out;
	}

	#side-menu > div {
		width: 100%;
		margin: 65px auto 20px auto;
		box-sizing: border-box;
	}

	#side-menu.active {
		transform: translateX(0);
	}

	#side-menu > div > div {
		box-shadow: var(--box-shadow);
	}
	
	#posts-list {
		flex: none;
		max-width: none;
		width: 100%;
	}

	#post-viewer {
		overflow: overlay;
		padding: 0 var(--background-padding);
		box-sizing: border-box;
	}

	#post-viewer .post {
		width: 100%;
	}

	#scroll-up {
		bottom: 20px;
		right: 20px;
		left: unset;
	}

	#scroll-up.active {
		transform: translateY(75px);
	}
}

@media screen and (max-width: 470px) {
	#filter-list {
		padding: 10px 20px;
		justify-content: flex-start;
		overflow: overlay auto;
	}


}

/* #endregion */

/* #region DETAILS */

::selection, .highlight {
    color: var(--text-color-a);
    background-color: var(--purple-a);
	font-weight: inherit;
	text-shadow: none;
}

::-webkit-scrollbar {
    width: 20px;
    transition: all 200ms ease-in-out;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-c);
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: none;
}

/* #endregion */