:root {
	--text-color-a: rgb(255 255 255);
	--text-color-b: rgb(175, 175, 175);
	--text-color-c: rgb(130 130 130);

	--background-color-a: rgb(12 12 12);
	--background-color-b: rgb(20 20 20);
	--background-color-c: rgb(28 28 28);

	--accent-color-a: #bd5fe3;
	--accent-color-b: #a34ec7;

	--font-family: noto sans;
	--page-width: 640px;
}

html {
	color: var(--text-color-a);
	background-color: var(--background-color-a);
	font-family: var(--font-family);
}

body {
	position: relative;
	overflow: overlay;
	margin: 0;
}

/* #region HEADER */

header {
	position: fixed;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 0 10px;
	width: 100%;
	height: 50px;
	top: 0;
	box-sizing: border-box;
	background-color: var(--background-color-c);
	box-shadow: 0 0 5px 5px var(--background-color-a);
	z-index: 1;
}

header #logo {
	position: fixed;
	color: var(--accent-color-a);
	left: 1.25rem;
	height: 2rem;
	width: 2rem;
	transition: color 200ms ease-in-out;
}

header #logo:hover {
	color: var(--accent-color-b);
}

header #page-title {
	position: fixed;
	left: 4rem;
	margin: 0;
}

header #search-bar {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: auto;
	padding: 5px 10px;
	width: var(--page-width);
	background-color: var(--background-color-a);
	border-radius: 10px;
}

#search-bar input {
	margin: 0;
	width: 100%;
	color: var(--text-color-a);
	background: none;
	border: none;
	outline: none;
	font-family: var(--font-family);
}

/* #endregion */

section#page-content {
	margin-top: 50px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
	width: 100%;
    box-sizing: border-box;
}

/* #region FILTERS */

#filter-list {
	padding: 15px 20px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: space-evenly;
}

#filter-list div {
	padding: 5px 10px;
	border-radius: 10px;
	text-align: center;
	transition: background-color 200ms ease-in-out;
	cursor: pointer;
}

#filter-list div:hover {
	background-color: var(--background-color-b);
}
#filter-list div.active {
	background-color: var(--background-color-a);
}

#filter-list div i {
	margin-right: 5px;
}

/* #endregion */

/* #region SIDE MENU */

#posts-list, #side-menu > div {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#side-menu {
	flex: 0 0 calc(var(--page-width) / 2);
}

#side-menu > div {
	position: sticky;
	top: 70px;
}

#subreddits-list {
	display: block;
}

#subreddits-list ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.subreddit-icon {
	height: 2rem !important;
}

/* #endregion */

/* #region POSTS */

#posts-list {
	max-width: var(--page-width);
	flex: 0 0 var(--page-width);
}

.post {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post-header, .post-footer {
	color: var(--text-color-c);
	font-size: 0.85rem;
}

.post-subreddit-icon, .subreddit-icon {
	border-radius: 50%;
	height: 1.25rem;
	margin-right: 7.5px;
	vertical-align: middle;
}

.post-description {
	color: var(--text-color-b);
	font-size: 0.85rem;
}

/* #endregion */

/* #region GENERAL STYLING */

.box {
	background-color: var(--background-color-c);
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}

.box p {
	margin: 0;
}

p, li {
	font-size: 1rem;
}

h1 {
	font-size: 1.25rem;
}

/* #endregion */

/* #region RESPONSIVE */

@media screen and (max-width: 990px) {
	header #logo, header #page-title {
		position: relative;
		left: 0;
	}

	header #search-bar {
		width: 50%;
	}

	#side-menu {
		display: none;
	}

	#filter-list {
		gap: 5px;
	}
	
	#posts-list {
		flex: none;
		max-width: none;
		width: 100%;
	}
}

/* #endregion */

/* #region DETAILS */

::selection, .highlight {
    color: var(--text-color-a);
    background-color: var(--accent-color-a);
	font-weight: inherit;
	text-shadow: none;
}

::-webkit-scrollbar {
    width: 20px;
    transition: all 200ms ease-in-out;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-c);
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: none;
}

/* #endregion */